/* Catppuccin Latte - https://github.com/mrpbennett/catppuccin-homer */
:root {
  --highlight-primary: transparent;
  --highlight-secondary: #ccd0da; /* Surface0 */
  --highlight-hover: #ccd0da; /* Surface0 */
  --background: #eff1f5; /* Base */
  --card-background: #ccd0da; /* Surface0 */
  --text: #4c4f69; /* Text */
  --text-header: #4c4f69; /* Text */
  --text-title: #4c4f69; /* Text */
  --text-subtitle: #179299; /* Teal */
  --card-shadow: rgba(0, 0, 0, 0.1);
  --link: #40a02b; /* Green */
  --link-hover: #40a02b; /* Green */
}
