[Unit]
Description=FlexGet
Wants=network-online.target
After=network-online.target

[Service]
User=downloader
ExecStart=/opt/bin/flexget daemon start
ExecReload=/opt/bin/flexget daemon stop

[Install]
WantedBy=multi-user.target
