---
site_name: Nix Homelab
site_url: https://jesusmtnez.es/homelab
repo_url: https://codeberg.org/JesusMtnez/homelab

site_description: my home infrastructure managed with Nix, Nixidy, ArgoCD, Renovate and Forgejo Actions
site_author: https://jesusmtnez.es/homelab
copyright: Copyright (c) 2021-2025 JesusMtnez

nav:
  - Overview: index.md

theme:
  name: material
  features:
    - content.code.copy

  palette:
    - scheme: slate
      primary: indigo
      toggle:
        icon: material/weather-night
        name: Dark mode

    - scheme: default
      primary: indigo
      toggle:
        icon: material/weather-sunny
        name: Light mode

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
