[Unit]
Description=containerd cleanup
Requires=containerd.service
After=containerd.service

[Service]
Type=oneshot
WorkingDirectory=/tmp
User=root
Group=root
ExecStart=/usr/local/bin/k3s crictl rmi --prune

[Install]
WantedBy=multi-user.target
