---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
controllers:
  main:
    strategy: Recreate
    containers:
      app:
        image:
          repository: docker.io/b4bz/homer
          tag: v25.08.1
          pullPolicy: IfNotPresent
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true

service:
  app:
    controller: main
    ports:
      http:
        port: 8080

ingress:
  homer:
    enabled: true
    hosts:
      - host: home.es
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http

persistence:
  config:
    enabled: true
    type: configMap
    name: homer-config
    globalMounts:
      - path: /www/assets/config.yml
        subPath: config.yml
        readOnly: true
