---
ungrouped:
  hosts:
    fluffy05:
      ansible_host: 192.168.1.205
      ansible_connection: ssh
      ansible_user: dietpi

    dobby:
      ansible_host: 192.168.1.250
      ansible_connection: ssh
      ansible_user: dietpi

    grimmauld:
      ansible_host: 192.168.1.20
      ansible_connection: ssh
      ansible_user: ansible
