---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
controllers:
  main:
    strategy: Recreate
    containers:
      app:
        image:
          repository: docker.io/adminer
          tag: 5.4.0
          pullPolicy: IfNotPresent
        env:
          ADMINER_DESIGN: hydra
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true

service:
  app:
    controller: main
    ports:
      http:
        port: 8080

ingress:
  adminer:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: adminer.home.es.
      external-dns.alpha.kubernetes.io/target: home.es.
    hosts:
      - host: adminer.home.es
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
