---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: traefik-crds
    includeCRDs: true
    repo: https://traefik.github.io/charts
    version: 1.13.0
    releaseName: &releaseName traefik-crds
    namespace: &releaseNamespace networking
  - name: traefik
    repo: https://traefik.github.io/charts
    version: 38.0.0
    releaseName: &releaseName traefik
    namespace: &releaseNamespace networking
    valuesFile: values.yml
commonAnnotations:
  meta.helm.sh/release-name: *releaseName
  meta.helm.sh/release-namespace: *releaseNamespace
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/managed-by: Helm
